body
{
	background: url(../image/bubbles.jpg);

}
form
{
	text-align: center;
	display: inline-block;
	/*border: 1px solid black;*/
	width: 25%;
	left: 38%;
	position: absolute;
}
.div_role
{
	margin-top: 20%;

}
.user1
{
	width: 100%;
	height: 35px;
	outline: none;
}
.name
{
	border-radius:4px 4px 0 0;
}
.mail
{
	border-radius:0;
}
.pass
{
	border-radius:0 0 4px 4px;
}

.input
{   margin-top: 7%;
	display: inline-block;
	width: 80%;
	border-radius: 8px;
	border: 2px solid green;
}
#log
{   height: 35px;
	width: 80%;
	margin-top: 7%;
	border-radius: 8px;
}